body {
	background-color: rgba(10, 10, 10, 255);
	color: white;
}
#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}
.material-symbols-outlined {
  font-size: 25px;
  vertical-align: text-bottom;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.widget {
  border-radius: 8px;
  background-color: rgba(30,30,30,255);
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  width: 50%;
  padding: 10px;
  flex-grow: 1;
}
#page {
	opacity: 0;
	transition: 0.1s;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#animateText {
	transition: 0.1s
}
#terminal__prompt--cursor {  
  display: block;  
  height: 17px;  
  width: 8px;  
  margin-left: 9px;  
  animation: blink 1200ms linear infinite;
  position: absolute;
  bottom: 100%;
}

@keyframes blink {  
  0% {    
    opacity: 1;
  }  
  49% {    
    opacity: 1;
  }  
  50% {    
    opacity: 0;
  }  
  99% {    
    opacity: 0;  
  }  100% {    
    opacity: 0;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#terminal {
	color: rgba(230, 230, 230, 255);
	font-family: Consolas, monaco, monospace;
	text-align: center;
}
#terminal::after {
	content: "_";
	animation: blink 1200ms linear infinite;
    margin-left: 1px;
}

.term {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
